.news_card{
  margin: 0 auto!important;
  width: 230px!important;
  height: 369px;
}
.news_block{
  
  overflow: hidden;
  height: 369px;
}

@media screen and (max-width: 518px) {
  .news_card{
    width: 180px;
    height: 320px;    
  }
  .news_block{
    height: 320px;
    text-align: center;
  }
}